@import url('https://unpkg.com/@catppuccin/palette/css/catppuccin.css');

:root {
  --background-color: var(--ctp-mocha-base);
  --item-color: var(--ctp-mocha-mantle);
  --item-secondary-color: var(--ctp-mocha-mantle);
  --danger-zone-color: var(--ctp-mocha-pink);
  --border-radii: 10px;
}


/* General */

body {
  color: var(--ctp-mocha-text);
}

.text-muted {
  color: var(--ctp-mocha-subtext0) !important;
}

a {
  color: var(--ctp-mocha-blue);
}

a:hover {
  color: var(--ctp-mocha-teal);
}


/* Turn off image dragging */

img {
  -webkit-user-drag: none;
}


/* Background */

div.content-wrapper,
body {
  background-color: var(--background-color);
}


/* Header */

nav.navbar.navbar-static-top,
a.logo {
  background-color: var(--ctp-mocha-mantle) !important;
}

.nav-tabs {
  background-color: var(--ctp-mocha-mantle);
}


/* Footer */

footer.main-footer {
  border-width: 0px;
  background-color: var(--background-color);
}


/* Sidebar */

aside.main-sidebar {
  background-color: var(--ctp-mocha-crust) !important;
  box-shadow: none !important;
}

ul.sidebar-menu > li.header {
  background: transparent !important;
  color: lightgray !important;
  margin-top: 2rem;
}

ul.sidebar-menu > li.active > a,
ul.sidebar-menu > li:hover > a {
  border-radius: 0 8px 8px 0;
  margin-right: 0.5rem;
}

.skin-blue .sidebar-menu > li.active > a {
  border-left-color: var(--ctp-mocha-teal) !important;
}

.skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a, .skin-blue .sidebar-menu > li.menu-open > a {
  background-color: var(--ctp-mocha-surface0) !important;
  color: var(--ctp-mocha-text);
}

.skin-blue .sidebar a {
  color: var(--ctp-mocha-text);
}

code {
  background-color: var(--ctp-mocha-surface0);
  border: 1px solid var(--ctp-mocha-surface1);
  color: var(--ctp-mocha-text);
}


/* Scrollbar */

::-webkit-scrollbar {
  background: var(--background-color) !important;
  width: 16px;
  height: 16px;
}

::-webkit-scrollbar-thumb {
  border-width: 0px 4px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  border-image: initial;
  border-radius: 9px / 4px;
  box-shadow: rgb(178 199 219) 0px 0px 0px 1px inset, rgb(63, 77, 90) 0px 0px 0px 4px inset;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-track-piece {
  margin: 4px 0px;
}


/* Border radii */

div.box,
div.box-header.with-border,
div.nav-tabs-custom,
div.nav-tabs-custom > .nav-tabs > li.active > a,
button,
div.alert-info,
div.alert-warning,
div.alert-danger,
div.alert-success,
pre,
li.select2-selection__choice,
ul,
div.info-box,
div.small-box,
input.form-control.pull-right {
  border-radius: var(--border-radii) !important;
}

/* Not important */
label.btn,
input.btn,
a.btn,
span.select2-selection.select2-selection--multiple,
select.form-control,
textarea.form-control,
input.form-control {
  border-radius: var(--border-radii);
}

@media (max-width:991px) {
  section.content-header > ol.breadcrumb {
    border-radius: var(--border-radii);
  }
}

/* Bottom radii */
div.box-body,
a.small-box-footer {
  border-bottom-left-radius: var(--border-radii);
  border-bottom-right-radius: var(--border-radii);
}

/* Right radii 0 */
div.input-group > input.form-control {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

/* Swap database radius sides */
div.input-group > input.form-control#pDatabaseName {
  border-radius: 0 var(--border-radii) var(--border-radii) 0;
}

label[for="pDatabaseName"] + div.input-group > span.input-group-addon {
  border-radius: var(--border-radii) 0 0 var(--border-radii) !important;
}

/* Right radii */
div.input-group span.input-group-addon {
  border-bottom-right-radius: var(--border-radii);
  border-top-right-radius: var(--border-radii);
}

/* Left radii */
span.info-box-icon {
  border-bottom-left-radius: var(--border-radii);
  border-top-left-radius: var(--border-radii);
}

code {
  border-radius: 5px;
}


/* Remove box colors */

div.box-header.with-border {
  background-color: transparent;
  border-bottom: none !important;
}

/* Mobile */
@media screen and (max-width: 767px) {
  div.box-body.table-responsive.no-padding {
    border: none;
  }
}

div.box {
  border-top-color: transparent !important;
  background: var(--item-secondary-color);
}

div.nav-tabs-custom > .nav-tabs > li {
  border-top: 0;
}


/* Remove bottom bars */

div.box-footer {
  border-top: 0;
  background-color: transparent;
}


/* Change horizontal rule color */

hr {
  margin-bottom: 40px;
  width: calc(100% - 1rem);
  border-top: 1px solid var(--item-color);
}


/* Alert modal */

div.sweet-alert {
  background-color: var(--danger-zone-color);
  border-radius: var(--border-radii);
}

div.sweet-alert h2,
div.sweet-alert p {
  color: lightgray;
}

div.sweet-alert button {
  box-shadow: none !important;
}

div.sweet-alert button.cancel {
  background-color: var(--ctp-mocha-green);
}

div.sweet-alert button.cancel:hover,
div.sweet-alert button.cancel:active {
  background-color: var(--ctp-mocha-green);
}

div.sweet-alert div.sa-icon.sa-success::before,
div.sweet-alert div.sa-icon.sa-success::after {
  background: transparent;
}

div.sweet-alert div.sa-icon.sa-success div.sa-fix {
  background-color: transparent;
}


/* Table */

table.table > tbody > tr > td {
  padding: 1rem;
}

.table-hover > tbody > tr:hover {
  background-color: var(--ctp-mocha-surface0);
}


/* Modals */

div.modal-header,
div.modal-body,
div.modal-footer {
  background: transparent;
}

p.text-danger {
  color: var(--ctp-mocha-red);
}

div.modal-content {
  border-radius: var(--border-radii);
  background-color: var(--item-secondary-color);
}

span.select2-selection.select2-selection--single,
ul.select2-results__options {
  border-radius: var(--border-radii);
}

span.select2-dropdown.select2-dropdown--below {
  border-radius: 0 0 10px 10px;
}

span.select2-container--default li.select2-results__option[aria-selected=true],
span.select2-container--default li.select2-results__option[aria-selected=true]:hover {
  color: #575757;
}

button.close {
  color: white;
}


/* Fix mobile search */

input.form-control.pull-right {
  min-width: max-content;
}

/* Button Colors */

.btn-warning {
  background-color: var(--ctp-mocha-peach) !important;
  border-color: var(--ctp-mocha-peach) !important;
  color: var(--ctp-mocha-base) !important;
}

.btn-primary {
  background-color: var(--ctp-mocha-blue) !important;
  border-color: var(--ctp-mocha-blue) !important;
  color: var(--ctp-mocha-base) !important;
}

.btn-success {
  background-color: var(--ctp-mocha-green) !important;
  border-color: var(--ctp-mocha-green) !important;
  color: var(--ctp-mocha-base) !important;
}

.btn-danger {
  background-color: var(--ctp-mocha-red) !important;
  border-color: var(--ctp-mocha-red) !important;
  color: var(--ctp-mocha-base) !important;
}

.btn {
  transition: opacity 0.3s !important;
}

.btn:hover {
  opacity: 0.8 !important;
}

.btn:active {
  opacity: 0.6 !important;
}

.btn:focus {
  opacity: 0.8 !important;
}

.btn-primary.active {
  opacity: 0.6 !important;
  background-color: var(--ctp-mocha-blue) !important;
}

/* Input */

input.form-control {
  background-color: var(--ctp-mocha-crust);
  border-color: var(--ctp-mocha-surface0);
}

.form-control {
  background-color: var(--ctp-mocha-crust);
  border-color: var(--ctp-mocha-surface0);
}

.form-control:focus {
  border-color: var(--ctp-mocha-teal) !important;
}

.form-control:active {
  border-color: var(--ctp-mocha-teal) !important;
}

textarea.form-control {
  background-color: var(--ctp-mocha-crust);
  border-color: var(--ctp-mocha-surface0);
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: var(--ctp-mocha-mantle);
  color: var(--ctp-mocha-subtext1)
}

.select2-container--default .select2-selection--single {
  background-color: var(--ctp-mocha-crust);
  border-color: var(--ctp-mocha-surface0);
}

.select2-dropdown {
  background-color: var(--ctp-mocha-crust);
  border-color: var(--ctp-mocha-surface0);
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: var(--ctp-mocha-surface0);
}

.select2-results__option {
  background-color: var(--ctp-mocha-crust);
  color: var(--ctp-mocha-text);
}

.select2-container--default .select2-results__option[aria-selected="true"] {
  background-color: var(--ctp-mocha-surface0);
}

span.select2-container--default li.select2-results__option[aria-selected="true"], span.select2-container--default li.select2-results__option[aria-selected="true"]:hover {
  color: var(--ctp-mocha-text);
}

.select2-container--default.select2-container--focus .select2-selection--multiple, .select2-container--default .select2-search--dropdown .select2-search__field {
  background-color: var(--ctp-mocha-mantle);
  border-color: var(--ctp-mocha-surface0) !important;
}

/* Ace Editor */

.ace-chrome .ace_gutter {
  background: var(--ctp-mocha-mantle) !important;
  color: var(--ctp-mocha-overlay1) !important;
}
.ace-chrome .ace_print-margin {
  width: 1px;
  background: var(--ctp-mocha-text);
}
.ace-chrome {
  background-color: var(--ctp-mocha-base) !important;
  color: var(--ctp-mocha-text) !important;
}
.ace-chrome .ace_cursor {
  color: var(--ctp-mocha-rosewater) !important;
}
.ace-chrome .ace_marker-layer .ace_selection {
  background: var(--ctp-mocha-lavender);
}
.ace-chrome.ace_multiselect .ace_selection.ace_start {
  box-shadow: 0 0 3px 0px #0f1419;
  border-radius: 2px;
}
.ace-chrome .ace_marker-layer .ace_step {
  background: var(--ctp-mocha-green);
}
.ace-chrome .ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px;
  border: 1px solid var(--ctp-mocha-red);
}
.ace-chrome .ace_marker-layer .ace_active-line {
  background: rgba(var(--ctp-mocha-text-rgb), 0.1);
}
.ace-chrome .ace_gutter-active-line {
  background-color: var(--ctp-mocha-crust) !important;
}
.ace-chrome .ace_marker-layer .ace_selected-word {
  border: 1px solid var(--ctp-mocha-text);
}
.ace-chrome .ace_fold {
  background-color: var(--ctp-mocha-peach) !important;
  border-color: var(--ctp-mocha-overlay2) !important;
}
.ace-chrome .ace_keyword {
  color: var(--ctp-mocha-mauve) !important;
}
.ace-chrome .ace_keyword.ace_operator {
  color: var(--ctp-mocha-sky) !important;
}
.ace-chrome .ace_constant.ace_language {
  color: var(--ctp-mocha-red) !important;
}
.ace-chrome .ace_constant.ace_numeric {
  color: var(--ctp-mocha-peach) !important;
}
.ace-chrome .ace_constant.ace_character {
  color: var(--ctp-mocha-peach) !important;
}
.ace-chrome .ace_constant.ace_character.ace_escape {
  color: var(--ctp-mocha-pink) !important;
}
.ace-chrome .ace_constant.ace_other {
  color: var(--ctp-mocha-peach) !important;
}
.ace-chrome .ace_support.ace_function {
  color: var(--ctp-mocha-blue) !important;
}
.ace-chrome .ace_support.ace_constant {
  font-style: italic;
  color: var(--ctp-mocha-peach) !important;
}
.ace-chrome .ace_support.ace_class {
  font-style: italic;
  color: var(--ctp-mocha-yellow) !important;
}
.ace-chrome .ace_support.ace_type {
  font-style: italic;
  color: var(--ctp-mocha-yellow) !important;
}
.ace-chrome .ace_storage {
  color: var(--ctp-mocha-yellow) !important;
}
.ace-chrome .ace_storage.ace_type {
  color: var(--ctp-mocha-yellow) !important;
}
.ace-chrome .ace_invalid {
  color: var(--ctp-mocha-red) !important;
}
.ace-chrome .ace_invalid.ace_deprecated {
  color: var(--ctp-mocha-text) !important;
  background-color: var(--ctp-mocha-yellow) !important;
}
.ace-chrome .ace_string {
  color: var(--ctp-mocha-green) !important;
}
.ace-chrome .ace_string.ace_regexp {
  color: var(--ctp-mocha-green) !important;
}
.ace-chrome .ace_comment {
  font-style: italic;
  color: var(--ctp-mocha-overlay2) !important;
}
.ace-chrome .ace_variable {
  color: var(--ctp-mocha-text) !important;
}
.ace-chrome .ace_variable.ace_language {
  font-style: italic;
  color: var(--ctp-mocha-red) !important;
}
.ace-chrome .ace_variable.ace_parameter {
  color: var(--ctp-mocha-maroon) !important;
}
.ace-chrome .ace_entity.ace_other.ace_attribute-name {
  color: var(--ctp-mocha-yellow) !important;
}
.ace-chrome .ace_entity.ace_name.ace_function {
  color: var(--ctp-mocha-blue) !important;
}
.ace-chrome .ace_entity.ace_name.ace_tag {
  color: var(--ctp-mocha-teal) !important;
}
.ace-chrome .ace_paren {
  color: var(--ctp-mocha-maroon) !important;
}